
@{
    ViewBag.Title = "Crear orden de producción";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--begin::Content wrapper-->
<div class="d-flex flex-column flex-column-fluid">
    <!--begin::Content-->
    <div id="kt_app_content" class="app-content flex-column-fluid">
        <!--begin::Content container-->
        <div id="kt_app_content_container" class="app-container container-xxl" style="max-width:100% !important">
            <div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
                <!--begin::Page title-->
                <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
                    <!--begin::Title-->
                    <h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">@ViewBag.Title</h1>
                    <!--end::Title-->
                </div>
                <!--end::Page title-->
            </div>
            <!--end::Toolbar-->
            <!--begin::Navbar-->
            <div class="card mb-6">
                <!--begin::Card header-->
                <div class="card-header border-0">
                    <!--begin::Card title-->
                    <div class="card-title">
                        <h2>Detalles de la orden de producción</h2>
                    </div>
                    <!--end::Card title-->
                </div>
                <!--end::Card header-->
                <div class="card-body pt-9 pb-0">
                    <!--begin::Details-->
                    <div class="d-flex flex-wrap flex-sm-nowrap mb-6">
                        <!--begin::Wrapper-->
                        <div class="flex-grow-1 col-12 row">
                            <div class="form-group col-md-2 mb-4">
                                <label>Orden de producción</label>
                                <input type="text" class="form-control" id="documentoOrden" placeholder="orden de producción" disabled value="@(ViewBag.Detalle != null ? ViewBag.Detalle.DOCUMENTO : ViewBag.SiguienteConsecutivo.SIGUIENTE_CONSEC)" />
                            </div>
                            @*<div class="form-group col-md-3 ">
            <label>Solicitante</label>
            <select id="solicitante" name="solicitante" class="form-select" data-control="select2" data-placeholder="Seleccione un solicitante">
                <option></option>
                <option value="DSM6834">DSM6834 - DOUGLAS FRANCISCO SAENZ MONTERO</option>
                <option value="FSD0000">FSD0000 - FIORELLA MARIA SOLORZANO DIAZ</option>
                <option value="GAB6815">GAB6815 - GUSTAVO ADOLFO BARRANTES AVENDAÑO</option>

            </select>
        </div>*@

                            <div class="form-group col-md-4 mb-4">
                                <label>Artículo a producir</label>
                                <select id="articuloproducir" name="articuloproducir" @(!string.IsNullOrEmpty(Request["Orden"]) ? "disabled" : "") class="form-select" data-control="select2" data-placeholder="Seleccione un artículo a producir">
                                    <option></option>
                                    @{
                                        if (ViewBag.ListaArticulosAProducir != null)
                                        {
                                            foreach (var item in ViewBag.ListaArticulosAProducir)
                                            {
                                                <option value="@item.ARTICULO" @(ViewBag.Detalle != null ? item.ARTICULO == ViewBag.Detalle.ARTICULO ? "selected" : "" : "" )>
                                                    @item.COMPLETO
                                                </option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                            <div class="form-group col-md-2 mb-4">
                                <label>Receta a producir</label>
                                <select id="recetaproducir" name="recetaoproducir" @(!string.IsNullOrEmpty(Request["Orden"]) ? "disabled" : "") class="form-select" data-control="select2" data-placeholder="Seleccione una receta">
                                    <option></option>
                                    @{
                                        if (ViewBag.ListaRecetasAProducir != null)
                                        {
                                            foreach (var item in ViewBag.ListaRecetasAProducir)
                                            {
                                                <option value="@item.RECETA" @(ViewBag.Detalle != null ? item.RECETA == ViewBag.Detalle.RECETA ? "selected" : "" : "" )>
                                                    @item.COMPLETO
                                                </option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                            <div class="form-group col-md-2 mb-4">
                                <label>Bodega destino</label>
                                <select id="bodegadestino" name="bodegadestino" @(!string.IsNullOrEmpty(Request["Orden"]) ? "disabled" : "") class="form-select" data-control="select2" data-placeholder="Seleccione una bodega">
                                    <option></option>
                                    @{
                                        if (ViewBag.ListaBodegas != null)
                                        {
                                            foreach (var item in ViewBag.ListaBodegas)
                                            {
                                                <option value="@item.BODEGA" @(ViewBag.Detalle != null ? item.BODEGA == ViewBag.Detalle.BODEGA ? "selected" : "" : "" )>
                                                    @item.DESCRIPCION
                                                </option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                            <div class="form-group col-md-2 mb-4">
                                <label>Cantidad a producir</label>
                                <input type="number" id="cantidadAProducir" class="form-control text-gray-500" @(!string.IsNullOrEmpty(Request["Orden"]) ? "disabled" : "") style="font-size:0.90rem;" placeholder="Ingrese la cantidad" value="@(ViewBag.Detalle != null ? Convert.ToDouble(ViewBag.Detalle.CANTIDAD) : "")" />
                            </div>
                            <div class="form-group col-md-2 mb-4">
                                <label>Hojas a producir</label>
                                <input type="number" id="hojasAProducir" class="form-control text-gray-500" @(!string.IsNullOrEmpty(Request["Orden"]) ? "disabled" : "") style="font-size:0.90rem;" placeholder="Ingrese la cantidad de hojas" value="@(ViewBag.Detalle != null ? Convert.ToDouble(ViewBag.Detalle.HOJAS) : "1")" />
                            </div>
                            <div class="form-group col-md-2 mb-4">
                                <label>Localización</label>
                                <input type="text" class="form-control" id="localizacion" placeholder="orden de producción" disabled value="001" />
                            </div>
                            <div class="form-group col-md-2 mb-4">
                                <label>Fecha solicitud</label>
                                <input disabled type="text" class="form-control text-gray-500" style="font-size:0.90rem;" placeholder="fechasoli" value="@(ViewBag.Detalle != null ? ViewBag.Detalle.FECHA_STR_SIN_HORAS : DateTime.Now.ToString("dd/MM/yyyy"))" />
                            </div>
                            <div class="form-group col-md-2 mb-4">
                                <label>Usuario</label>
                                <input type="text" class="form-control" placeholder="usuario" value="@(ViewBag.Detalle != null ? ViewBag.Detalle.USUARIO : Session["Usuario"].ToString())" disabled />
                            </div>
                            <div class="form-group col-md-2 mb-4 d-none">
                                <label>Estado</label>
                                <input type="text" id="estado" class="form-control text-gray-500" @(!string.IsNullOrEmpty(Request["Orden"]) ? "disabled" : "") style="font-size:0.90rem;" placeholder="Estado" value="@(ViewBag.Detalle != null ? ViewBag.Detalle.ESTADO : "N")" />
                            </div>
                            @*<div class="form-group col-md-2  mt-4">
            <label>Centro de costo</label>
            <select id="centrocosto" name="centrocosto" class="form-select" data-control="select2" data-placeholder="Seleccione un centro costo">
                <option></option>
                <option selected value="70-02-03">70-02-03</option>
                <option value="80-01-01">80-01-01</option>
                <option value="80-02-02">80-02-02</option>
            </select>
        </div>
        <div class="form-group col-md-2  mt-4">
            <label>Cuenta contable</label>
            <select id="cuentacontable" name="cuentacontable" class="form-select" data-control="select2" data-placeholder="Seleccione una cuenta contable">
                <option></option>
                <option selected value="1-01-06-005-007">1-01-06-005-007</option>
                <option value="1-01-06-002-002">1-01-06-002-002</option>
                <option value="1-01-06-005-006">1-01-06-005-006</option>
                <option value="1-01-06-002-007">1-01-06-002-007</option>
                <option value="1-01-06-005-004">1-01-06-005-004</option>
                <option value="1-01-06-005-009">1-01-06-005-009</option>
                <option value="1-01-06-002-011">1-01-06-002-011</option>
                <option value="1-01-06-005-007">1-01-06-005-007</option>
                <option value="1-01-06-002-004">1-01-06-002-004</option>
                <option value="1-01-06-002-006">1-01-06-002-006</option>
                <option value="1-01-06-002-001">1-01-06-002-001</option>

            </select>
        </div>*@
                            <div class="form-group col-md-12">
                                <label>Referencia</label>
                                <textarea class="form-control" aria-label="With textarea" id="txtreferencia" @(!string.IsNullOrEmpty(Request["Orden"]) ? "disabled" : "") placeholder="Ingrese una pequeña referencia">@(ViewBag.Detalle != null ? ViewBag.Detalle.REFERENCIA : "")</textarea>
                            </div>

                            @*<div class="form-group col-md-12  mt-9">
            <span>NOTAS A DESARROLLO: <br />
            <ul>
                <li>EL COMBO DE ARTICULOS A PRODUCIR SE LLENA CON LOS ARTICULOS QUE TIENEN CODIGO KIT-</li>
                <li>Cada vez que se edita la cantidad a producir se actualizan las lineas de acuerdo a la receta</li>
            </ul>
            </span>
        </div>*@
                        </div>
                        <!--end::Wrapper-->
                    </div>
                </div>
            </div>
            @if (Request["Orden"] != null)
            {
                <div class="card mb-6">

                    <!--begin::Card header-->
                    <div class="card-header border-0">
                        <!--begin::Card title-->
                        <div class="card-title">
                            <h2>Agregar artículo a consumir</h2>
                        </div>
                        <!--end::Card title-->
                    </div>
                    <!--end::Card header-->
                    <div class="card-body pt-9 pb-0">
                        <!--begin::Details-->
                        <div class="d-flex flex-wrap flex-sm-nowrap mb-6">
                            <!--begin::Wrapper-->
                            <div class="flex-grow-1 col-12 row">

                                <div class="form-group col-md-1 mb-4">
                                    <label>Tipo</label>
                                    <input type="text" class="form-control" id="tipo" name="tipo" placeholder="orden de producción" disabled value="Consumo" />
                                </div>
                                <div class="form-group col-md-3 d-none">
                                    <label>Escanear código del artículo</label>
                                    <input type="text" class="form-control" placeholder="Codigo del artículo" id="codigoarticulo" value="08-02-01-048" />
                                </div>
                                <div class="form-group col-md-4  mb-4">
                                    <label>Seleccionar artículo</label>
                                    <select id="articuloconsumo" name="articuloconsumo" @(ViewBag.Detalle.ESTADO == "S" ? "disabled" : "" ) class="form-select" data-control="select2" data-placeholder="Seleccione un artículo">
                                        <option></option>
                                        @{
                                            if (ViewBag.ListaArticulosAConsumir != null)
                                            {
                                                foreach (var item in ViewBag.ListaArticulosAConsumir)
                                                {
                                                    <option value="@item.ARTICULO">@item.COMPLETO</option>
                                                }
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="form-group col-md-2 mb-4">
                                    <label>Bodega</label>
                                    <select id="bodegconsumoa" name="bodegconsumoa" @(ViewBag.Detalle.ESTADO == "S" ? "disabled" : "" ) class="form-select" data-control="select2" data-placeholder="Seleccione una bodega">
                                        <option></option>
                                        @{
                                            if (ViewBag.ListaBodegas != null)
                                            {
                                                foreach (var item in ViewBag.ListaBodegas)
                                                {
                                                    <option value="@item.BODEGA">@item.DESCRIPCION</option>
                                                }
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="form-group col-md-2  mb-4">
                                    <label>Cantidad a consumir</label>
                                    <input type="number" class="form-control" @(ViewBag.Detalle.ESTADO == "S" ? "disabled" : "" ) placeholder="Ingrese la cantidad" value="" id="cantcons" />
                                </div>
                                <div class="form-group col-md-1  mb-4">
                                    <label>Hora inicio</label>
                                    <input type="time" class="form-control" @(ViewBag.Detalle.ESTADO == "S" ? "disabled" : "" ) id="horainicio" placeholder="Existencia bodega" value="@(ViewBag.Detalle.ESTADO == "S" ? "" : @DateTime.Now.ToString("hh:mm") )" />
                                </div>
                                <div class="form-group col-md-1  mb-4">
                                    <label>Hora fin</label>
                                    <input type="time" class="form-control" @(ViewBag.Detalle.ESTADO == "S" ? "disabled" : "" ) id="horafin" placeholder="Existencia bodega" value="@(ViewBag.Detalle.ESTADO == "S" ? "" : @DateTime.Now.ToString("hh:mm") )" />
                                </div>
                                <div class="form-group col-md-1  mb-4">
                                    <label>Existencia</label>
                                    <input type="number" class="form-control" id="existencia" placeholder="Existencia bodega" value="0" disabled />
                                </div>
                                @*<div class="form-group col-md-3  mb-4">
            <label>Centro de costo</label>
            <select id="centrocosto2" name="centrocosto2" @(ViewBag.Detalle.ESTADO == "S" ? "disabled" : "" ) class="form-select" data-control="select2" data-placeholder="Seleccione un centro costo">
                <option></option>
                @{
                    if (ViewBag.ListaCentrosCosto != null)
                    {
                        foreach (var item in ViewBag.ListaCentrosCosto)
                        {
                            <option value="@item.CENTRO_COSTO">@item.COMPLETO</option>
                        }
                    }
                }
            </select>
        </div>
        <div class="form-group col-md-3   mb-4">
            <label>Cuenta contable</label>
            <select id="cuentacontable2" name="cuentacontable2" @(ViewBag.Detalle.ESTADO == "S" ? "disabled" : "" ) class="form-select" data-control="select2" data-placeholder="Seleccione una cuenta contable">
                <option></option>
                @{
                    if (ViewBag.ListaCuentasContables != null)
                    {
                        foreach (var item in ViewBag.ListaCuentasContables)
                        {
                            <option value="@item.CUENTA_CONTABLE">@item.COMPLETO</option>
                        }
                    }
                }
            </select>
        </div>*@
                                @*<div class="form-group col-md-2 mt-4">
            <label>Fase</label>
            <select id="fasea" name="fasea" class="form-select" data-control="select2" data-placeholder="Seleccione una fase">
                <option></option>
                <option selected value="001">001</option>
            </select>
        </div>*@




                                @*<div class="form-group col-md-2 mt-4">
            <label>Presupuestado</label>
            <input type="number" class="form-control" id="presupuestado" placeholder="Existencia bodega" value="250,000" disabled />
        </div>*@

                                <div class="form-group col-md-2  mt-6 @(ViewBag.Detalle.ESTADO == "S" ? "d-none" : "" )">

                                    <a href="javascript:;" onclick="agregarLinea()" class="btn btn-success">
                                        <span class="svg-icon svg-icon-1">
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="10" fill="currentColor" />
                                                <rect x="10.8891" y="17.8033" width="12" height="2" rx="1" transform="rotate(-90 10.8891 17.8033)" fill="currentColor" />
                                                <rect x="6.01041" y="10.9247" width="12" height="2" rx="1" fill="currentColor" />
                                            </svg>
                                        </span>Agregar
                                    </a>
                                </div>
                                @*<div class="form-group col-md-12  mt-9">
            <span>NOTAS A DESARROLLO: <br />SI SELECCIONO PRODUCIR EN EL COMBO DE ARTICULOS SOLO SALEN LOS ARTICULOS QUE PUEDO PRODUCIR, SI SELECCIONO CONSUMO SALEN TODOS</span>
        </div>*@
                            </div>
                            <!--end::Wrapper-->
                        </div>
                    </div>
                </div>


                <div class="card">
                    <!--begin::Card header-->
                    <div class="card-header border-0">
                        <!--begin::Card title-->
                        <div class="card-title">
                            <h2>Líneas a consumir</h2>
                        </div>
                        <!--end::Card title-->
                    </div>
                    <!--end::Card header-->
                    <div class="card-body pt-0">
                        <!--begin::Table-->
                        <table class="table align-middle table-row-dashed fs-6 gy-4" id="miTabla">
                            <!--begin::Table head-->
                            <thead>
                                <!--begin::Table row-->
                                <tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0">

                                    <th class="text-left min-w-10px"> </th>
                                    <th class="text-left ">Artículo</th>
                                    <th class="text-left min-w-75px">Bodega</th>
                                    <th class="text-left min-w-75px">Teórico</th>
                                    <th class="text-left min-w-75px">Real</th>
                                    <th class="text-left min-w-75px">Diferencia</th>
                                    <th class="text-left ">Existencia</th>
                                    <th class="text-left min-w-50">Cantidad</th>
                                    @*<th class="text-left ">Centro de costo</th>
                                    <th class="text-left ">Cuenta contable</th>*@
                                    <th class="text-left ">Acciones</th>
                                </tr>
                                <!--end::Table row-->
                            </thead>
                            <!--end::Table head-->
                            <!--begin::Table body-->
                            <tbody class="fw-bold text-gray-600">
                            </tbody>
                            <!--end::Table body-->
                        </table>
                        <!--end::Table-->
                    </div>
                </div>
            }
            <!--end::Navbar-->

        </div>
        <!--end::Content container-->
    </div>
    <!--end::Content-->
</div>
<!--end::Content wrapper-->
<!--begin::Engage-->
<div class="app-engage" id="kt_app_engage">
    <!--begin::Prebuilts toggle-->
    @if (Request["Orden"] == null)
    {


        <a href="javascript:;" onclick="CrearOrdenProduccion()" class="app-engage-btn hover-primary" data-bs-toggle="tooltip" title="Crear orden de producción">
            <!--begin::Svg Icon | path: icons/duotune/abstract/abs042.svg-->
            <span class="svg-icon svg-icon-1 pt-1 mb-2">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path opacity="0.3" d="M10 4H21C21.6 4 22 4.4 22 5V7H10V4Z" fill="currentColor" />
                    <path opacity="0.3" d="M10.3 15.3L11 14.6L8.70002 12.3C8.30002 11.9 7.7 11.9 7.3 12.3C6.9 12.7 6.9 13.3 7.3 13.7L10.3 16.7C9.9 16.3 9.9 15.7 10.3 15.3Z" fill="currentColor" />
                    <path d="M10.4 3.60001L12 6H21C21.6 6 22 6.4 22 7V19C22 19.6 21.6 20 21 20H3C2.4 20 2 19.6 2 19V4C2 3.4 2.4 3 3 3H9.20001C9.70001 3 10.2 3.20001 10.4 3.60001ZM11.7 16.7L16.7 11.7C17.1 11.3 17.1 10.7 16.7 10.3C16.3 9.89999 15.7 9.89999 15.3 10.3L11 14.6L8.70001 12.3C8.30001 11.9 7.69999 11.9 7.29999 12.3C6.89999 12.7 6.89999 13.3 7.29999 13.7L10.3 16.7C10.5 16.9 10.8 17 11 17C11.2 17 11.5 16.9 11.7 16.7Z" fill="currentColor" />
                </svg>
            </span>
            <!--end::Svg Icon-->Crear
        </a>
    }
    <!--end::Prebuilts toggle-->
    <!--begin::Get help-->
    <a href="javascript:;" class="app-engage-btn hover-primary" onclick="Volver()">
        <!--begin::Svg Icon | path: icons/duotune/general/gen063.svg-->
        <span class="svg-icon svg-icon-1 pt-1 mb-2">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M21.7189 13.9C17.6189 9.8 11.4189 8.79999 6.21895 11.2L7.31895 12.9C11.719 11 16.919 12 20.319 15.4C20.519 15.6 20.819 15.7 21.019 15.7C21.219 15.7 21.5189 15.6 21.7189 15.4C22.1189 14.9 22.1189 14.2 21.7189 13.9Z" fill="currentColor" />
                <path opacity="0.3" d="M10.119 17.1L3.61896 7L2.01895 14.3C1.91895 14.8 2.21895 15.4 2.81895 15.5L10.119 17.1Z" fill="currentColor" />
            </svg>
        </span>
        <!--end::Svg Icon-->Volver
    </a>
    <!--end::Get help-->
</div>
<!--end::Engage-->

@{
    var jss = new System.Web.Script.Serialization.JavaScriptSerializer();
    var BODEGAS_ARTICULO = jss.Serialize(ViewBag.ListaBodegasXArticulo);
    var CUENTAS_CONTABLE_X_CENTRO_COSTO = jss.Serialize(ViewBag.ListaCuentasContablesXCentroCosto);
}

<script>
    const REQUISICIONES_URL = '@Url.Content("~/Requisiciones")'
    const Orden = '@Request["Orden"]'
    const BODEGAS_ARTICULO = JSON.parse('@Html.Raw(BODEGAS_ARTICULO)');
    const CUENTAS_CONTABLE_X_CENTRO_COSTO = JSON.parse('@Html.Raw(CUENTAS_CONTABLE_X_CENTRO_COSTO)');
</script>

@Scripts.Render("~/assets/plugins/custom/uppy/uppy.bundle.js")
@Scripts.Render(System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/RequisicionesDetalles", true))

